.DS_Store
tmp
bin
build

*/*/modules
*/*/modules*
.apt_generated
build.properties
.gitignore
.svn
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*

.idea/
libs/

android/clean
android/ant_clean
android/.classpath
android/.settings
android/dist/
android/launch-*
android/java-sources.txt
nbproject
/ios/metadata.json
/ios/dist
/ios/ti.map-iphone-*.zip

node_modules/

TESTS-*.xml

.vscode/
