.DS_Store
tmp
bin
build

*/*/modules
*/*/modules*
.apt_generated
build.properties
.gitignore
.svn
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*

.idea/
libs/

android/clean
android/ant_clean
android/.classpath
android/.settings
android/dist/
android/launch-*
nbproject
/ios/metadata.json
